#POSTGRES 
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# AIRFLOW
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=
AIRFLOW__CORE__EXECUTOR=
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__WEBSERVER__SECRET_KEY=
AIRFLOW_ADMIN_PASSWORD=

# MINIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=  # min 8 characters required

# GRAFANA
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=